/*
 * Licensed Materials - Property of IBM
 * 
 * @ Copyright IBM Corp. 2013 All Rights Reserved
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP 
 * Schedule Contract with IBM Corp.
 *
 */
html {
	
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	background: #c5ccd3; 
	background: -moz-linear-gradient(top,  #c5ccd3 0%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5ccd3), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #c5ccd3 0%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #c5ccd3 0%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #c5ccd3 0%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #c5ccd3 0%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ccd3', endColorstr='#ffffff',GradientType=0 ); 

	background-attachment:fixed;
}
:hover, :focus, UNUSEDUNUSED:active {
	outline: none;
}

html, input, {
	font-family: Arial;
	xfont: "12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif";
	font-weight: 400; 
	color: #555;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	
}



body {
	margin: 0;
	font-size: 13px;
	line-height: 1.6;
	padding-top:1em;
}

a:hover {
	color: #000;
	text-decoration: underline;
	background: rgba(0, 0, 0, .025);
}

::-moz-selection {
	background: #0078CF;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #0078CF;
	color: #fff;
	text-shadow: none;
}

p {
	margin: 0 0 1em;
}

ul, ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


form {
	margin: 0
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}
button, input {
	line-height: normal;
	*overflow: visible
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td {
	vertical-align: top
}




form {
	margin-top: 2em;
}
label {
	display: block;
	margin-bottom: 1em;
	font-size: 14px;
	font-weight: bold;
	color: #0f78bc;
}
input, select, textarea {
	border: 1px solid #DDD;
	font-size: 1em;
	padding: .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/js/boxsizing.htc);
}

textarea {
	padding: 1em;
	min-height: 15em;
	height: auto;
	width: 100%;
}
input, textarea {
	-moz-transition: border .25s;
	-webkit-transition: border .25s;
	-o-transition: border .25s;
	transition: border .25s;
}
input:hover, textarea:hover, input:focus, textarea:focus, UNUSEDUNUSEDinput:active, UNUSEDUNUSEDtextarea:active {
	border: 1px solid #999;
}
input[type="text"], textarea {
	cursor: text;
}
input[type="radio"], input[type="checkbox"] {
	display: inline;
	width: auto;
	height: auto;
	margin-right: 1em;
}
input[type="checkbox"] + label, input[type="radio"] + label {
	display: inline;
}
input[type="file"] {
	border: none;
}
input[type="date"] {
	width: auto;
}
input[type="image"] {
	width: auto;
	padding: 0em;
}
select {
	height: auto;
}

::-webkit-input-placeholder {
	color: #BBB;
}
:-ms-input-placeholder {
	color: #BBB;
}


.button, input[type="submit"],input[type="button"], button {

	font-size: 16px;
	font-weight: normal;
	padding: 0.5em 1.2em;
	text-shadow: 0 1px 0 #fff;
	border: solid 1px #ddd;
	text-decoration: none;
	cursor: pointer;
	background: #efefef; 
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #efefef 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#efefef)); 
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); 
	background: -o-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); 
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); 
	background: linear-gradient(to bottom,  #f6f6f6 0%,#efefef 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	margin:5px;
	box-shadow: 0 1px 2px #434343;
}
.button:hover, input[type="submit"]:hover, button:hover, .toggle-title:hover {
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: 0 100%;
}
.button:focus, input[type="submit"]:focus, button:focus, .toggle-title:focus {
	color: #333;
	border-color: #BBB;
}
input[type="submit"]:active, {
	color: #000;
	background: #F5F5F5;
	border-color: #444;
	position: relative;
	top: 1px;
}


h1 {
	margin: 0 0 1em;
	font-weight: normal;
}

h1 {
	font-size: 4.1em;
	letter-spacing: -0.075em;
	text-transform: uppercase;
	line-height: 0.9;
	color: #555;
	margin: 0 0 0.5em;
	font-weight: normal;
	font-family: Arial;
	font-size: 30px;
	color: #0f78bc;
}
h2 {
	font-size: 2.5em;
	margin: 0 0 20px;
	letter-spacing: -0.05em;
	color: #555;
	line-height: 1;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.17em;
	text-transform: uppercase;
	margin: 0;
	color: #555;
}
h6 {
	font-size: 1em;
	margin-bottom: 2px;
	font-weight: 700;
}

a {
	color: #333;
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #0078CF;
	xtext-decoration: underline;
}

body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background: no-repeat 45% 0;
	xbackground: -moz-linear-gradient(center top , #C5CCD3 0%, #FFFFFF 100%);
}
.container {
	width: 90%;
	margin: 0em auto;
	padding:3em;
	max-width: 1000px;
	min-width: 300px;
	background-color: white;
	border-radius: 7px 7px 7px 7px;
}
.ui-helper-hidden-accessible { 
	display:none;
	 }
	 